* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: Outfit, sans-serif;
    text-align: center;
    font-smooth: always;
    height: 100vh;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100vw;
    height: 97vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    width: 550px;
    height: 410px;
    box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 0.31);
    text-align: left;
    overflow: hidden;
}

.preview{
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('./images/image-product-desktop.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;

}


.text-container {
    height: 100%;
    grid-area: 1 / 2 / 2 / 3;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


h1 {
    font-size: 30px;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    width: 100%;
    padding-right: 20px;
}

p {
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}

.title {
    letter-spacing: 5px;
    font-size: 12px;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}


.prices {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    width: 100%;
}

.price {
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

.oldprice {
    text-decoration: line-through;
}

button {
    margin-top: 20px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    padding: 10px 15px 10px 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
    background-image: url(images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 40px;
    width: 90%;
    cursor: pointer;
}



@media (max-width: 600px) {

    .container {
        width: 85vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin: 20px 0 20px 0;
    }

    .preview{
        grid-area: 1 / 1 / 2 / 2;
        height: 100%;
        width: 100%;
        background-image: url('./images/image-product-mobile.jpg');
        background-size: cover;
    }
    .text-container {
        grid-area: 2 / 1 / 3 / 2;
    }
}